<!DOCTYPE html>
<meta charset="UTF-8">
<html >
    <head>
        <!--JS-->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Cute+Font|Gamja+Flower|Hi+Melody|Poor+Story|Stylish&display=swap&subset=korean" rel="stylesheet">
        <style>
            .color{
                background-color :blueviolet;

            }
            .color:hover{
                background-color: rebeccapurple;
            }
            .a { font-family: 'Stylish', sans-serif; }
            .b { font-family: 'Hi Melody', cursive; font-size: 23px;}
            .c {font-family: 'Gamja Flower', cursive; font-size: 40px;}
            .d {font-family: 'Cute Font', cursive; font-size: 20px;}
            .e {font-family: 'Poor Story', cursive;}
            .intro {margin: 160px 0 50px 0 ;}
            .card_int{border: 0;}
            .card-body{height: 280px;}
            .intro_title {color: rgba(114, 9, 100, 0.774);font-family: 'Nanum Myeongjo', serif;}
        </style>
        <title></title>
        <script></script>
    </head>
    <body>
        <!--modal-->

        <!--modal-->
    <!--Header-->
        <header class = "blog-header py-3">
            <!--메인 타이틀, 제목-->
            <div class= "jumbotron d-flex p-3 p-md-5 text-dark rounded bg-white text-center justify-content-center border-bottom"
            style="background: url(/study/public/images/header/header.PNG) no-repeat; background-position: center center;">
                <div class = "col-md-8 px-0">
                        <a href="/" class = "a"><h1 class= "text-dark display-4" style="font-size: 70px;">제가 만든 제과 </h1></a>
                    <p class = "my-3 a">
                    made by JBBK
                    </p>
                </div>
            </div>
            <!--메인 타이틀, 제목-->
            <!--nav-->
        <div class="container b ">
            <div class = "row flex-nowrap justify-content-between align-items-center">
                <div class = "col-8">
                    <a class = "text-muted p-1 " href="#">회사 소개</a>
                    <a class = "text-muted p-1 " href="#">제품 소개</a>
                    <a class = "text-muted p-1 " href="#"> 이벤트 </a>
                    <a class = "text-muted p-1 " href="#"> 고객센터 </a>
                    <a class = "text-muted p-1 " href="#"> 인재채용 </a>
                </div>

                <div class = "col-4 d-flex justify-content-end align-items-center">
                <button class="text-muted bg-white border-0 b" data-toggle="modal" data-target = "#login">Sign In </button>/
                <a class="text-muted bg-white border-0 b" href="/small_pro/SignUp" role="button">Sign Up</a>
                </div>
            </div>
        </div>
            <!--nav-->
        </header>
        <div class ="container">
            <div class = "text-center intro">
                <h4 class = "tit_intro"> "더 맛있게 , 더 건강하게"<br> 나만의 프리미엄 제과</h4>
                <p class = "des_intro">제가 만든 제과는 제과를 더 건강하게, 더 맛있게 먹을 수 있어야 한다고 믿습니다.<br>
                    고객 중심의 먹거리 아가리 볼거리 
                </p>
            </div>
            <div id="carousel-example-2" class="carousel slide carousel-fade container mb-5" data-ride="carousel" >
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active">
                        <div class="view">
                          <img class="d-block w-100" src="../../static/image/h2-1.jpg" th:src="@{/image/h2-1.jpg}"
                            alt="First slide">
                          <div class="mask rgba-black-light"></div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                          <img class="d-block w-100" src="../../static/image/h2-2.jpg" th:src="@{/image/h2-2.jpg}"
                            alt="Second slide">
                          <div class="mask rgba-black-strong"></div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                          <img class="d-block w-100" src="../../static/image/h2-3.jpg" th:src="@{/image/h2-2.jpg}"
                            alt="Third slide">
                          <div class="mask rgba-black-slight"></div>
                        </div>
                      </div>
                    </div>
                    <!--/.Slides-->

            </div>
            <div class = "container">
                <div class = "text-center">
                        <h3 class = "context_title border-bottom p-3 intro_title">
                            제가 만든 제과의    <strong>특별한 3가지</strong>
                        </h3>
                </div>

                <img src="../../static/intro_img/44.PNG" th:src="@{/intro_img/44.PNG}">
            </div>
            <div class = "more_info">
                    <div class="row spacing2">
                            <h3 id="Noticias">Notícias</h3>
                            <div class="col-md-12">
                                <div class="carousel slide spacing2" data-ride="carousel" id="carousel" style="width: 400px; margin-left:100px">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li class="active" data-slide-to="0" data-target="#carousel"></li>
                                        <li data-slide-to="1" data-target="#carousel"></li>
                                        <li data-slide-to="2" data-target="#carousel"></li>
                                    </ol><!-- Wrapper for slides -->

                                        <div class="item active">
                                            <img alt="..." class="pull-left" src="slider/scrum.jpg"> <span class="pull-right">Thasos, an island surrounded by the crystal-clear emerald waters of the Aegean Sea is part of the Northeastern islands of Greece, also being the closest one to the continent. It is the perfect getaway for holidays during summer, a place where you can relax and enjoy your holidays, forget about all your worries on a quiet sandy beach, but also a place where you can explore the Greek way of life, try the best foods and meet the most amazing people.</span>
                                        </div>
    
                                </div>
                            </div>
                            <div class="col-md-6" id="carousel_text">
                                <div>
                                    <p></p>
                                </div>
                            </div>
                    </div>
                <ul class ="list_menu">
                    <li class ="row"> 
                        <div>
                            <img src = "https://res.kurly.com/images/event/introduce/0720/pc/intro_cont1_v2.jpg">
                            <h4 class="border-bottom">1. 나와 내 가족이 사고 싶은 상품을 판매합니다.</h4>
                            <p>
                                    "제가만든 제과"는 미각적, 심미적으로 만족감을 주면서 사람의 몸에 이로운 상품이 우리의 삶까지 변화시킬 수 있다고 믿습니다. 내가 먹고 쓰는 것이 곧 ‘나’이니까요.
                                    안정성, 맛, 상업성 등 여러 면에서 만족스러울 만한, 최상의 상품을 고르기 위해 직접 먹어보고 사용해보며 여러 차례에 걸쳐 꼼꼼하게 검증합니다.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    

      </body>
</html>