<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="final/layout">
    <head>
        <!--JS-->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!--CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Cute+Font|Gamja+Flower|Hi+Melody|Poor+Story|Stylish&display=swap&subset=korean" rel="stylesheet">
        <style>
            .color{
                background-color :blueviolet;

            }
            .color:hover{
                background-color: rebeccapurple;
            }
            .a { font-family: 'Stylish', sans-serif; }
            .b { font-family: 'Hi Melody', cursive; font-size: 23px;}
            .c {font-family: 'Gamja Flower', cursive; font-size: 40px;}
            .d {font-family: 'Cute Font', cursive; font-size: 20px;}
            .e {font-family: 'Poor Story', cursive;}
            .intro {margin: 160px 0 50px 0 ;}
            .card_int{border: 0;}
            .card-body{height: 280px;}
            .intro_title {color: rgba(114, 9, 100, 0.774);font-family: 'Nanum Myeongjo', serif;}
            .more_info  .menu_list {margin: 160px 0 50px 0;}
          
        </style>
        <title></title>
        <script></script>
    </head>
    <body>
        <th:block layout:fragment="layout.home">

        <div class ="container">
            <div class = "text-center intro">
                <h4 class = "tit_intro"> "더 맛있게 , 더 건강하게"<br> 나만의 프리미엄 제과</h4>
                <p class = "des_intro">제가 만든 제과는 제과를 더 건강하게, 더 맛있게 먹을 수 있어야 한다고 믿습니다.<br>
                    고객 중심의 먹거리 아가리 볼거리 
                </p>
            </div>
            <div id="carousel-example-2" class="carousel slide carousel-fade container mb-5" data-ride="carousel" >
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                      <div class="carousel-item active">
                        <div class="view">
                          <img class="d-block w-100" src="../../static/image/h2-1.jpg" th:src="@{/image/h2-1.jpg}"
                            alt="First slide">
                          <div class="mask rgba-black-light"></div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                          <img class="d-block w-100" src="../../static/image/h2-2.jpg" th:src="@{/image/h2-2.jpg}"
                            alt="Second slide">
                          <div class="mask rgba-black-strong"></div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <!--Mask color-->
                        <div class="view">
                          <img class="d-block w-100" src="../../static/image/h2-3.jpg" th:src="@{/image/h2-2.jpg}"
                            alt="Third slide">
                          <div class="mask rgba-black-slight"></div>
                        </div>
                      </div>
                    </div>
                    <!--/.Slides-->

            </div>
            <div class = "container">
                <div class = "text-center">
                        <h3 class = "context_title border-bottom p-3 intro_title">
                            제가 만든 제과의    <strong>특별한 3가지</strong>
                        </h3>
                </div>
                <img src="./detail/intro img/44.PNG" th:src="@{/intro_img/44.PNG}">
            </div>
            <div class = "more_info">

                <div class ="menu_list row">
                    <img src = "https://res.kurly.com/images/event/introduce/0720/pc/intro_cont1_v2.jpg" class= "col-4">
                    <div class = "col-8 ">              
                        <h4 class="border-bottom ml-5 text-center">1. 나와 내 가족이 사고 싶은 상품을 판매합니다.</h4>
                        <p>
                            "제가만든 제과"는 미각적, 심미적으로 만족감을 주면서 사람의 몸에 이로운 상품이 우리의 삶까지 변화시킬 수 있다고 믿습니다. 내가 먹고 쓰는 것이 곧 ‘나’이니까요.
                            안정성, 맛, 상업성 등 여러 면에서 만족스러울 만한, 최상의 상품을 고르기 위해 직접 먹어보고 사용해보며 여러 차례에 걸쳐 꼼꼼하게 검증합니다.
                        </p>
                    </div>
                </div>
                <div class ="menu_list row">
                        <img src = "https://res.kurly.com/images/event/introduce/0720/pc/intro_cont2.jpg" class= "col-4">
                        <div class = "col-8 ">              
                            <h4 class="border-bottom ml-5 text-center">2. 물류 혁신을 통해 최상의 품질로 전해드립니다.</h4>
                            <p>
                                        오늘 주문하면 내일 아침 도착하는 샛별배송은 물류의 혁신이 없었다면 불가능한 일이었죠.
                                        샛별배송을 포함한 제만제의 배송 서비스는 산지에서 식탁까지의 시간을 줄이고, 온도를 제어해 상품의 가치를 극대화합니다.
                                        좋은 상품을 가장 좋은 상태로 고객님께 전해드리는 것. 제만제가 배송 시간부터 포장재까지 물류의 모든 것을 혁신한 이유이자, 제만제의 물류가 가지는 가치입니다.
                            </p>
                        </div>
                </div>
                <div class ="menu_list row">
                        <img src = "https://res.kurly.com/images/event/introduce/0720/pc/intro_cont3.jpg" class= "col-4">
                        <div class = "col-8 ">              
                            <h4 class="border-bottom ml-5 text-center">3. 같은 품질에서 최선의 가격을 제공합니다.</h4>
                            <p>                             
                                소비자에게는 품질만큼 가격도 좋은 상품의 기준이 됩니다. 하지만 생산자가 배제된 최저가 정책은 정답이 될 수 없습니다.
                                제가만든 제과가 업계 최초로 도입한 100% 생산자 직거래 및 매입 방식은 유통 중 발생하던 재고 손실을 최소화해 동일 품질의 상품을 가장 낮은 가격에 판매할 수 있도록 해줍니다.
                            </p>
                        </div>
                </div>
                <div class ="menu_list row">
                        <img src = "https://res.kurly.com/images/event/introduce/0720/pc/intro_cont4.jpg" class= "col-4">
                        <div class = "col-8 ">              
                            <h4 class="border-bottom ml-5 text-center">4. 고객의 행복을 먼저 생각합니다.</h4>
                            <p>                               
                                컬리는 오늘의 만족을 넘어 고객님의 삶 속에서 행복을 드리는 서비스로 남기를 바랍니다. 그래서 오늘의 회사를 위한 일보다 장기적으로 소비자에게 옳은 일을 합니다.
                                고객만족보장제도는 고객님의 현재는 물론 미래까지도 세심하게 케어하고 싶은 컬리의 의지입니다.
                            </p>
                        </div>
                </div>
            </div>
        </div>
    

      </body>
</html>