<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="final/layout">


<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script>
        function check() {
            var getMail = RegExp(/^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/);
            var getName = RegExp(/^[가-힣]+$/);

            if ($("#ID").val() == "" || $("#ID").val().length < 5) {
                alert("아이디 확인")
                $("#ID").focus();
                return false;
            }

            if ($("#NAME").val() == "") {
                alert("이름 입력")
                $("#NAME").focus();
                return false;
            }

            if (!getName.test($("#NAME").val())) {
                alert("형식에 맞게 입력해주세요");
                $("#NAME").val("");
                $("#NAME").focus();
                return false;
            }

            if ($("#PASS").val() == "" || $("#PASS").val().length < 5) {
                alert("비밀번호 확인")
                $("#PASS").focus();
                return false;
            }

            if ($("#PASS").val() != $("#PWDCHECK").val()) {
                alert("비밀번호가 일치하지 않습니다.")
                $("#PWDCHECK").focus();
                return false;
            }

            if ($("#EMAIL").val() == "") {
                alert("이메일을 입력해주세요");
                $("#EMAIL").focus();
                return false;
            }

            if ($("#EMAIL").val() == "") {
                alert("이메일 형식에 맞게 입력")
                $("#EMAIL").focus();
                return false;
            }

            if ($("#PHONE2").val().length < 3 || $("#PHONE3").val().length < 3) {
                alert("번호확인")
                $("#PHONE2").focus();
                return false;
            }


            if ($("#ADDRESS").val() == "") {
                alert("주소 입력")
                $("#ADDRESS").focus();
                return false;
            }


        }
    </script>
</head>


<body>
    <th:block layout:fragment="layout.home">
        <!--layout-->
        <!--body-->
        <div class="container d-flex justify-content-center">
            <div>
                <h1 class="mt-5 mb-5 text-center c">회원 가입</h1>
                <form onsubmit="return check()" method="POST" th:action="@{/final/insert}" class="d">
                    <div class="row">
                        <label class="col-3 pr-0">아이디</label>
                        <div class="col-8">
                            <input class="col-12 p-0" type="text" id="ID" name="ID" placeholder="5자 이상 작성">
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-3 pr-0">이름</label>
                        <div class="col-8">
                            <input class="col-12 p-0" type="text" id="NAME" name="NAME">
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-3 pr-0">비밀번호</label>
                        <div class="col-8">
                            <input class="col-12 p-0" type="password" id="PASS" name="PASS" placeholder="5자 이상 작성">
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-3 pr-0">비밀번호 확인</label>
                        <div class="col-8">
                            <input class="col-12 p-0" type="password" id="PWDCHECK">
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-3 pr-0">이메일</label>
                        <div class="col-8">
                            <input class="col-12 p-0" type="email" id="EMAIL" name="EMAIL">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-3 pr-0">전화번호</label>
                        <!--번호 앞자리-->
                        <div class="row col-8 d-flex justify-content-center">
                            <div class="col-1 pr-5">
                                <select class="row" name="PHONE1" size="1" id="PHONE1">
                                    <option value="010" selected>010</option>
                                    <option value="011" selected>011</option>
                                    <option value="031" selected>031</option>
                                    <option value="02" selected>02</option>
                                    <option value="" selected>선택</option>
                                </select>
                            </div>-
                            <div class="col-4 p-0">
                                <input class="col-11 p-0" type="text" id="PHONE2" name="PHONE2">
                            </div>-
                            <div class="col-4 p-0">
                                <input class="col-11 p-0" type="text" id="PHONE3" name="PHONE3">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-3 pr-0">주소</label>
                        <div class="col-8">
                            <input class="col-12 p-0" type="text" id="ADDRESS" style="height: 8rem;" name="ADDRESS">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="col-12 mt-5 btn btn-primary">가입하기</button>
                    </div>
                </form>
            </div>
        </div>
        <!--body-->
    </th:block>
</body>

</html>