<!DOCTYPE html>
<meta charset="UTF-8">
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="final/layout">

<head>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script>
    function check() {
      console.log("here")
      if ($("#ID").val() == "" || $("#PWD").val() == "") {
        alert("아이디 or 비밀번호 다시확인하십시오.");
        $("#ID").focus();
        return false;
      }
      else return true;
    }
  </script>
</head>

<body>
  <th:block layout:fragment="layout.home">
    <!--layout-->
    <!--body-->
    <div class="container d-flex justify-content-center">
      <div>
        <h1 class="mt-5 mb-5 text-center c">로그인</h1>
        <form onsubmit="return check()" method="POST" th:action="@{/final/accountcheck}" class="d"
          style="font-size: 30px;">

          <div class="row">
            <label class="col-4 pr-0">아이디</label>
            <div class="col-8">
              <input id="ID" name="ID" class="col-12 p-0" type="text">
            </div>
          </div>

          <div class="row">
            <label class="col-4 pr-0">비밀번호</label>
            <div class="col-8">
              <input id="PASS" name="PASS" class="col-12 p-0" type="password">
            </div>

          </div>

          <div class="text-center">
            <button type="submit" id="button" class="col-12  btn btn-primary">LOGIN</button>
          </div>

        </form>

        <form method="POST" th:action="@{/final/SignUP}" class="d" style="font-size: 30px;">
          <button type="submit" class="col-12  btn btn-primary" role="button">Sign Up</button>
        </form>
      </div>
    </div>
    <!--body-->
  </th:block>
</body>

</html>