<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head>
    <script scr="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script scr="../../static/css/jquery.min.js"></script>
</head>

<body>
    <p>!!!!!!!!!!!!!!</p>
    <form th:action="@{/check_id/testsub1}">
        ID: <input name="ID" type="text">
        NAME: <input name="NAME" type="text">
        HABBY: <input name="HABBY" type="text">
       
        <button type="submit" id="BUTTON">BUTTON</button>
    </form>






</body>

</html>